#commentInput {
	width:300px;
	height:100px;
}
body {
	background-color: grey;
}
ul {
	list-style: none;
	width: 400px;
}
li {
	margin-top: 4px;
	border: solid black 1px;
}
li h4 {
	margin-left: 2px;
}
li p {
	font-style: italic;
	margin-left: 6px;
	overflow-wrap: break-word;
}
form {
	margin-left: 10px;
}
form button {
	margin-left: 10px;
	background-color: #c9c9c9;
}

@media(max-width: 500px){
	body{
		max-width: 495px;
	}
	li {
		margin-right: 10px;
	}
}