<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/jquery.js"></script>
</head>
<body>
	<div ng-app="pigLatin">
		<div ng-controller="textCtrl">
			<h2>Pig Latin</h2>
			<p>This is a highly advanced cryptographic cipher tool</p>
			<textarea ng-model="text" placeholder="text here"></textarea>
			<br><button ng-click="encrypt(text)">encrypt</button><br><br>
			<textarea>{{pigtext}}</textarea>
		</div>
	</div>

	<script src="js/app.js"></script>
</body>
</html>