body {
	margin: 5px 0px 100px 5px;
	background-color: #d1d1d1;
}
#books div {
	border: 1px solid black;
	margin: 2px;
	padding: 5px;
}

@media(max-width: 500px){
	body{
		max-width: 495px;
	}
	button {
		background-color: #c9c9c9;
	}
}