body {
	text-align: center;
	background-color: #a3d2ff;
}
#solution p {
	margin: 10px;
	background-color: white;
	font-size: 16px;
	display: inline;
	border-radius: 3px;
}

@media (max-width: 500px){
	body{
		max-width: 495px;
	}
	button {
		background-color: #c9c9c9;
	}
}