body {
	text-align: center;
	background-color: #d1d1d1;
}

textarea {
	min-width: 250px;
	min-height: 100px;
}

@media (max-width: 500px) {
	body {
		max-width: 495px;
	}
	button {
		background-color: #c9c9c9;
	}
}